<div class="styleguide-topic panel drawn" id="{{ topicListing.id }}">
  <div class="topic-title panel-heading">
    <h3>{{ topicListing.title }}</h3>
  </div>

  <div class="panel-body">
    <div class="topic-options">
      <ng-content select="[options]"></ng-content>
    </div>

    <div class="topic-example">
      <ng-content select="[example]"></ng-content>
    </div>

    <div class="topic-usage">
      <ng-content select="[usage]"></ng-content>
    </div>

    <div class="topic-code-sample">
      <ng-content select="[code-sample]"></ng-content>
    </div>
  </div>
</div>
