<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    ngWireframe Style Guide
  </h1>
</div>
<hr>
<div>
  <sg-link-list columns="4" [links]="tocList"></sg-link-list>
</div>
<hr>

<sg-breadcrumbs-topic [topicListing]="styleGuide.topics.breadcrumbs"></sg-breadcrumbs-topic>

<sg-collapse-topic [topicListing]="styleGuide.topics.collapse"></sg-collapse-topic>

<sg-icons-topic [topicListing]="styleGuide.topics.icons"></sg-icons-topic>

<sg-link-list-topic [topicListing]="styleGuide.topics.linkLists"></sg-link-list-topic>

<sg-panels-topic [topicListing]="styleGuide.topics.panels"></sg-panels-topic>

<sg-placeholder-topic [topicListing]="styleGuide.topics.placeholder"></sg-placeholder-topic>

<sg-text-styles-topic [topicListing]="styleGuide.topics['text-styles']"></sg-text-styles-topic>

<sg-tooltip-topic [topicListing]="styleGuide.topics.tooltip"></sg-tooltip-topic>

<sg-user-message-topic [topicListing]="styleGuide.topics['user-messages']"></sg-user-message-topic>
